# Dependências e builds
node_modules
build
dist
npm-debug.log
yarn-error.log

# Arquivos de controle de versão
.git
.gitignore
.gitattributes

# Arquivos de configuração do Docker
Dockerfile
docker-compose.yml
.dockerignore

# Arquivos de ambiente e logs
.env
*.log
logs/

# Arquivos temporários e caches
*.tmp
*.bak
.cache
.DS_Store

# Diretórios de desenvolvimento
coverage
test/
docs/

node_modules/